<div style="margin-top: 20px;">

<ul class="bar">

  <li> <a routerLink="/home" routerLinkActive="active" [ngClass]="{selected:selected=='home'}" (click)="selected='home'">Home</a></li>
  <li> <a routerLink="/register" routerLinkActive="active" [ngClass]="{selected:selected=='register'}" (click)="selected='register'">Register</a></li>
  <li> <a routerLink="/userlist" routerLinkActive="active" [ngClass]="{selected:selected=='userlist'}" (click)="selected='userlist'">Student List</a></li>
  <li class="welcome">Welcome To OnBoarding App!</li>

</ul>
</div>
